.container {
  background-color: #FFFFFF;
  width: 100%;
  min-height: calc(100vh - 2.3rem);
}

.itemWrap {
  border-radius: 0;
  background-color: transparent;
  width: 13rem;
  margin: 0 auto;
}

.mainRankContent {
  width: 13rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mainContent3 {
  width: 3.9rem;
}

.mainContent4 {
  width: 8.5rem;
}

.mainContentEmpty {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 2rem;
  height: calc(100vh - 2.3rem);
}

.emptyImg {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.emptyIntro {
  font-size: 0.16rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.6);
  text-align: center;
  margin: 0 auto 0.56rem;
  line-height: 0.22rem;
  opacity: 0.7;
}
