.backBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 0.88rem;
  border-top: 0.01rem solid #B2B2B2;
  padding: 0.24rem 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}

.backBox span {
  font-size: 0.34rem;
  color: #2F3031;
}

.backIcon {
  width: 0.48rem;
  height: 0.48rem;
}
