.secondItemWrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.3rem;
  padding-bottom: 0.4rem;
}

.imageItem1Wrap {
  width: 1.92rem;
  height: 100%;
}

.bookImage {
  width: 100%;
  height: 2.58rem;
  border-radius: 0.04rem;
  overflow: hidden;
  margin-bottom: 0.16rem;
}

.bookName {
  color: #333333;
  font-size: 0.16rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author {
  display: block;
  color: #545862;
  font-size: 0.14rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.08rem;
}
.viewCountDisplay {
  font-size: 0.14rem;
  font-weight: 400;
  color: #545862;
  span {
    color: $theme_color;
    font-weight: 600;
  }
}
