.firstItemWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.56rem;
}

.imageItem1Wrap {
  width: 100%;
  height: 2.12rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bookImageA {
  flex-shrink: 0;
  overflow: hidden;
  width: 1.6rem;
  height: 100%;
  border-radius: 0.04rem;
  margin-right: 0.16rem;
}

.bookImage {
  width: 1.6rem;
  height: 100%;
}

.bookName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.16rem;
  font-weight: 600;
  color: #333333;
}

.bookLine2 {
  font-size: 0.14rem;
  font-weight: 400;
  color: #545862;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0.08rem 0;
}

.bookLine3 {
  font-size: 0.14rem;
  font-weight: 400;
  color: #545862;
}

.bookLine3 span {
  color: $theme_color;
  font-weight: 600;
}

.bookLine4 {
  margin-top: 0.16rem;
  font-size: 0.14rem;
  font-weight: 400;
  color: #545862;
  line-height: 0.22rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-wrap: break-word;
}
